---
const { tract } = Astro.props
---
<article>
    <a href={`/tracts/${tract.slug}`}><img src={tract.data.image.url} alt={tract.data.image.alt}/></a>
    <p>{tract.data.title}</p>
    <p>{tract.data.author}</p>
    <p>{tract.data.pubDate.toISOString().slice(0,10)}</p>
    <!-- <p>{tract.data.tags.join(', ')}</p> -->
</article>
<style>
    article {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
        text-align: center;
    }
</style>